ipython==8.34.0
loguru==0.7.3
matplotlib==3.10.0
mlflow==2.21.0
mlflow_skinny==2.21.0
numpy==2.2.6
opencv_python_headless==4.13.0.90
PennyLane==0.40.0
Pillow==11.1.0
schedulefree==1.4
scikit_learn==1.6.1
seaborn==0.13.2
torch==2.6.0
torchvision==0.21.0
ultralytics==8.4.11
